/* Todo */
#menu {
	text-align: center;
	width: 100%;
	margin: 20px auto;
}
#menu ul {
	list-style-type: none;
}
ul li ul li{
	background: rgba(255, 255, 255, .9);
}
#menu ul li.nivel1 {
	float: left;
	margin-right: 2px;
}
#menu ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 5px;
	position: relative;
}
#menu ul li ul li.titulo2 a.desactivado {
	color: white;
}
#menu ul li:hover {
	position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
	/* background-color: #6CC; Este es el color de fondo cuando coloco el puntero*/
	background: rgba(0, 0, 0, .35);
	color: white;
	position: relative;
}
li:hover .nivel1.desactivado{
	background: rgba(0, 0, 0, .8);
}
#menu ul li a.nivel1 {
	display: block!important;
	display: none;
	position: relative;
}
#menu ul li ul {
	display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {
	display: block;
	position: absolute;
	left: -40px;
}
#menu ul li ul li a {
	width: 109px;
	padding: 5px 0px 5px 0px;
}
#menu ul li ul li a:hover {
	position: relative;
}
table.falsa {
	border-collapse:collapse;
	border:0px;
	float: left;
	position: relative;
}
.desactivado{
	pointer-events: none;
	cursor: default;
}
ul li.titulo2{
	background: rgba(0, 0, 0, .8);
}